<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "admin" %}
    <a href="newClass" class="btn btn-secondary">Добавить класс</a>
{% endif %}
{% for item in news%}
<p>


</p>
<div class="col-md6 border rounded">
    <p>

    </p>
    <h2>{{item[1]}}</h2>
    <div>
        <p>

        </p>
        <a href="/newClass/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/class_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
        <p>

        </p>
    </div>
</div>
{% endfor %}

<p>


</p>
{% if us == "admin" %}
    <a href="newTeacher" class="btn btn-secondary">Добавить учителя</a>
{% endif %}
{% for item in newss%}
<p>


</p>
<div class="col-md6 border rounded">
    <p>

    </p>
    <h2>{{item[1]}}</h2>
    <div>
        <p>

        </p>
        <a href="/newTeacher/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/teacher_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
        <p>

        </p>
    </div>
</div>
{% endfor %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>