<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "admin" %}
    <a href="newClass" class="btn btn-primary">Добавить класс</a>
{% endif %}
{% for item in news%}
<div class="bg-secondary" style="margin: 20px;border-radius: 5px;border-style: solid;border-color: white;">
    <h2 class="col-6 mb-3">{{item[1]}}</h2>
    <div class="col-6 mb-3">
        <a href="/classes/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/class_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
{% if us == "admin" %}
    <a href="allTeachersAdmin" class="btn btn-primary">Учителя</a>
{% endif %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>