<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="shortcut icon" href="../static/images/diary.png" />
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "developer" %}
<a href="/newTeacher" class="btn btn-primary">Добавить учителя</a>
{% for item in news%}
<div class="bg-secondary" style="margin: 20px;border-radius: 5px;border-style: solid;border-color: white;">
    <h2 class="col-6 mb-3">{{item[1]}} {{item[2]}}</h2>
    <div class="col-6 mb-3">
        <a href="/newTeacher/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/teacher_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
<a href="/developer" class="btn btn-danger">
    Назад
</a>
{% endif %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>