<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "developer" %}
<a href="/register" class="btn btn-secondary">Добавить ученика</a>
{% for item in news%}
<p>


</p>
<div class="col-md6 border rounded">
    <p>

    </p>
    <h2>{{item[1]}} {{item[2]}}</h2>
    <div>
        <p>

        </p>
        <a href="/newUsers/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/user_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
        <p>

        </p>
    </div>
</div>
{% endfor %}
<p>

</p>
<a href="/developer" class="btn btn-danger">
    Выйти
</a>
{% endif %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>