<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="shortcut icon" href="../static/images/diary.png" />
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "developer" %}
<a href="newAdmin" class="btn btn-primary">Добавить директора</a>
{% for item in news%}
<div class="bg-secondary" style="margin: 20px;border-radius: 5px;border-style: solid;border-color: white;">
    <h2 class="col-6 mb-3">{{item[3]}}</h2>
    <div class="col-6 mb-3">
        Директор: {{item[1]}} {{item[2]}}
    </div>
    <div class="col-6 mb-3">
        <a href="newAdmin/{{ item[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="admin_delete/{{ item[0] }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
<a href="allUsers" class="btn btn-primary">Ученики</a>
<a href="allTeachers" class="btn btn-primary">Учителя</a>
<a href="allTems" class="btn btn-primary">Новости</a>
{% endif %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>
