<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главный сайт</title>
    <link rel="shortcut icon" href="../static/images/diary.png" />
</head>
<body>
{% extends "base.html" %}

{% block content %}
<h1 align="center" style="margin: 40px;">Лучший дневник</h1>
{% for item in listTems%}
<div class="container">
    <div class="bg-secondary" style="margin: 30px;border: 5px white solid;border-radius: 5px;">
        <h3 class="col-12">{{item[0]}}</h3>
        {% for item2 in item[1]%}
        <p class="col-6">{{item2}}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}

</body>
</html>