<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оценки</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% if us == "teacher" %}
    <a href="/newEvaluation/{{userr}}/{{predmett}}" class="btn btn-primary">Добавить оценку</a>
{% endif %}
{% for item in news%}
<div class="bg-secondary" style="margin: 20px;border-radius: 5px;border-style: solid;border-color: white;">
    <h2 class="col-6 mb-3">№{{item[1]}} - оценка {{item[2]}}</h2>
    <div class="col-6 mb-3">
        <a href="/predmet_delete/{{ item[0] }}/{{userr}}" class="btn btn-danger">
            Удалить
        </a>
    </div>
</div>
{% endfor %}
{% if us == "teacher" %}
    <a href="/teacher_class/{{classs}}/{{predmett}}" class="btn btn-danger">Назад</a>
{% endif %}
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>