{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Register form</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.surname.label }}
                    {{ form.surname(class="form-control", placeholder="Enter your surname") }}
                    {% for error in form.surname.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(class="form-control", placeholder="Enter your name") }}
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.login.label }}
                    {{ form.login(class="form-control", placeholder="Enter your login") }}
                    {% for error in form.login.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control", placeholder="Enter your email", type="email") }}
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", placeholder="Enter your password", type="password") }}
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <p class="mt-3">{{message}}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
