<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оценки</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="../static/images/diary.png" />
</head>
<body>
{% extends "base.html" %}

{% block content %}
<table class="table">
    <tr class="table__header">
        {% for header in headings %}
        <th class="table__cell"> {{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr class="table__row">
            {% for cell in row %}
                <td class="table__cell"> {{ cell }} </td>
            {% endfor %}
            <form action="" method="POST">
            <input id="book_id" name="book_id"
                   type="hidden" value="{{ row[-1] }}">
            <td><button type="submit" name="edit" value="{{ row[0] }}"
                        formmethod="post">Домашняя работа</button></td>
            </form>
        </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>